---
BasedOnStyle:  LLVM

ColumnLimit: 100
IndentWidth: 4
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
...
